/****************************************    HEADER    ****************************************/
/**---------------------------------------  BIGSCREEN  --------------------------------------**/
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header a {
    color: #EEE9D6;
    padding: 10px;
}
    a:visited {
        color: #EEE9D6;
    }
a:hover {
    border-radius: 30px;
    color: #A15D26;
    padding: 10px;
}
header {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}
hr {
    width: 90%;
    background-color: #A15D26;
    padding: 1px;
    border: none;
    justify-content: center;
}
header h1 {
    font-size: 500%;
    text-align: center;
    font-family: "Permanent Marker", Arial, sans-serif;
    padding: 60px;
    margin: 40px;
}
    .headerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: auto;
    left: auto;
    z-index: -1;
    -webkit-mask-image: linear-gradient(#000000, transparent);
    mask-image: linear-gradient(#000000, transparent);
}
    .menuitem {
    color: #EEE9D6;
    text-transform: uppercase;
    
    font-size: 200%;
    padding: 10px;
    margin: 10px;
    box-shadow: 100px;
    z-index: 1;
}
    .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
}
.mobilemenu {
    display: none;
}
/**------------------------------------------------------------------------------------------**/
/**--------------------------------------  MIDIUMSCREEN  ------------------------------------**/
@media screen and (max-width:1024px) {
    header {
        height: 225px;
    }
    .headerimg {
        height: 150px;
    }
    header h1 {
        font-size: 250%;
        padding: 30px;
        margin: 5px;
    }
    .menuitem {
        font-size: 125%;
        padding: 5px;
        margin: 5px;
    }
    .container {
        display: flex;
        padding: 5px;
        margin: 5px;
    }
    .mobilemenu {
        display: none;
    }
}
/**------------------------------------------------------------------------------------------**/
/**--------------------------------------  SMALLSCREEN  -------------------------------------**/
@media screen and (max-width:480px) {
    header {
        height: 150px;
    }
    .headerimg {
        display: none;
    }
    header h1 {
        display: none;
        font-size: 150%;
        padding: 10px;
        margin: 10px;
        z-index: -1;
    }
    .menuitem {
        font-size: 30%;
        display: block;
        padding: 5px;
    }
    .container {
        display: none;
    }
    .mobilemenu{
        display: block;
    }
    hr {
        background-color: #A15D26;
    }
}
/**------------------------------------------------------------------------------------------**/
/**-------------------------------------  OFFSCREENMENU -------------------------------------**/
.off-screen-menu {
    background: linear-gradient(to bottom, #000000,#000000, transparent);
    width: 100%;
    position: fixed;
    top: -450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 300%;
    transition: .2s ease;
    padding-bottom: 100px;
}
    .off-screen-menu.active {
        top: 0;
    }
/**------------------------------------------------------------------------------------------**/
/**-------------------------------------  HAMBURGERMENU -------------------------------------**/
nav {
    padding: 10px;
    display: flex;
    margin: 5px;
}
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
        .ham-menu span {
            height: 5px;
            width: 100%;
            background: repeating-radial-gradient(#A15D26, transparent);
            border-radius: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }
                .ham-menu span:nth-child(1) {
            top: 25%;
        }
        .ham-menu span:nth-child(3) {
            top: 75%;
        }
            
        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
                .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }
        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
/**------------------------------------------------------------------------------------------**/
/**********************************************************************************************/


body {
    background: linear-gradient(to bottom, #000000, #EEE9D6);
    margin: 0;
    color: #EEE9D6;
}

/************************************************************************************/
/****************************************    Färger    ****************************************
    #A57960 Beige
    #3D0A06 Röd
    #EEE9D6 Vit
    #A15D26 Orange
    #091A00 Grön
    #080203 Svart



    #291f02

***********************************************************************************/